{% extends "base.html" %}

{% block content %}
    {% load static %}
    <section class="section">
    <h1 class="title">Logged out</h1>
    <h2 class="subtitle">See you soon!</h2>
    <a href="{% url 'books:index' %}">Return to main page</a>
    </section>
{% endblock %}
