{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Log in{% endblock %}

{% block content %}
    <section class="section">
    <h1 class="title">Log in</h1>
    {% if form.errors %}
        <article class="message is-danger">
        <div class="message-body">
            {% for key, error in form.errors.items %}
            {{ error }}
            {% endfor %}
        </div>
        </article>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <label class="label"> {{ form.username.label }} </label>
            <div class="control has-icons-left">
                {{ form.username|add_class:"input" }}
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label"> {{ form.password.label }} </label>
            <div class="control has-icons-left">
                {{ form.password|add_class:"input" }}
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </div>
        </div>
        <button class="button is-primary" type="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    </section>
{% endblock %}
