{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Update profile{% endblock %}

{% block content %}
<section class="section">
    <h1 class="title">Update profile</h1>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <article class="message is-success"><div class="message-body">{{ message }}</div></article>
    {% elif message.tags == 'error' %}
    <article class="message is-danger"><div class="message-body">{{ messag }}</div></article>
    {% else %}
    <article class="message is-info"><div class="message-body">{{ message }}</div></article>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if form.errors %}
    <article class="message is-danger">
        <div class="message-body">
            {% for key, error in form.errors.items %}
            {{ error }}
            {% endfor %}
        </div>
    </article>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <fieldset disabled>
            <div class="field">
                <label class="label"> Username </label>
                <div class="control">
                    <input class="input" type="input" value="{{ user.username }}">
                </div>
            </div>
        </fieldset><br>
        <div class="field">
            <label class="label"> {{ form.first_name.label }} </label>
            <div class="control">
                {{ form.first_name|add_class:"input" }}
            </div>
        </div>
        <div class="field">
            <label class="label"> {{ form.email.label }} </label>
            <div class="control">
                {{ form.email|add_class:"input" }}
            </div>
        </div>
        <div class="field">
            <label class="label"> {{ form.password1.label }} </label>
            <div class="control">
                {{ form.password1|add_class:"input" }}
            </div>
        </div>
        <div class="field">
            <label class="label"> {{ form.password2.label }} </label>
            <div class="control">
                {{ form.password2|add_class:"input" }}
            </div>
        </div>
        <div class="field">
            <a class="button" href="{% url 'accounts:change_password' %}">Change password</a><br>
        </div>
        <div class="field">
            <button class="button is-primary" type="submit">Update</button>
        </div>
    </form>
</section>
{% endblock %} 
