{% extends 'base.html' %} 

{% load widget_tweaks %}

{% block content %}
<section class="section">
    {% if form.errors %}
    <article class="message is-danger">
        <div class="message-body">
            {% for key, error in form.errors.items %}
            {{ error }}
            {% endfor %}
        </div>
    </article>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <label class="label"> {{ form.old_password.label }} </label>
            <div class="control">
                {{ form.old_password|add_class:"input" }}
            </div>
        </div>
        <div class="field">
            <label class="label"> {{ form.new_password1.label }} </label>
            <div class="control">
                {{ form.new_password1|add_class:"input" }}
            </div>
        </div>
        <article class="message is-info">
            <div class="message-body">
                {{ form.new_password1.help_text }}
            </div>
        </article>
        <div class="field">
            <label class="label"> {{ form.new_password2.label }} </label>
            <div class="control">
                {{ form.new_password2|add_class:"input" }}
            </div>
        </div>
        <button class="button is-primary" type="submit">Save</button>
    </form>
</section>
{% endblock %}
