{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <section class="section">
    <h1 class="title">Sign up</h1>
    {% if form.errors %}
        <article class="message is-danger">
        <div class="message-body">
            {% for key, error in form.errors.items %}
            {{ error }}
            {% endfor %}
        </div>
        </article>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <label class="label"> {{ form.username.label }} </label>
            <div class="control">
                {{ form.username|add_class:"input" }}
            </div>
        </div>
        <div class="field">
            <label class="label"> {{ form.first_name.label }} </label>
            <div class="control">
                {{ form.first_name|add_class:"input" }}
            </div>
        </div>
        <div class="field">
            <label class="label"> {{ form.email.label }} </label>
            <div class="control">
                {{ form.email|add_class:"input" }}
            </div>
        </div>
        <div class="field">
            <label class="label"> {{ form.password1.label }} </label>
            <div class="control">
                {{ form.password1|add_class:"input" }}
            </div>
        </div>
        <div class="field">
            <label class="label"> {{ form.password2.label }} </label>
            <div class="control">
                {{ form.password2|add_class:"input" }}
            </div>
        </div>
        <button class="button is-primary" type="submit">Sign up</button>
    </form>
    </section>
{% endblock %} 
