{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <article class="message is-success"><div class="message-body">{{ message }}</div></article>
    {% elif message.tags == 'error' %}
    <article class="message is-danger"><div class="message-body">{{ messag }}</div></article>
    {% else %}
    <article class="message is-info"><div class="message-body">{{ message }}</div></article>
    {% endif %}
    {% endfor %}
{% endif %}

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
</form>
{% endblock %}
