{% extends 'base.html' %}

{% block title %}{{ object.title }} - Llibres{% endblock %}

{% block content %}
<section class="hero is-light">
    <div class="hero-body">
    <h1 class="title">{{ object.title }}</h1>
    <h2 class="subtitle">
        {{ object.authors|first }}
        {% for au in object.authors|slice:"1:" %}
            &amp; {{ au }}
        {% endfor %}
    </h2>
    </div>
</section>

<section class="section">
    <div class="content">
    <ul>
        <li> ISBN-13: {{ object.isbn13 }}
        {% if object.publisher %}
            <li> Publisher: {{ object.publisher }}
        {% endif %}
        {% if object.language %}
            <li> Language: {{ object.language }}
        {% endif %}
        {% if object.publication_year %}
            <li> Publication year: {{ object.publication_year }}
        {% endif %}
        {% if object.page_count %}
            <li> Page count: {{ object.page_count }}
        {% endif %}
    </ul>

    {% if object.description %}
        {{ object.description }} <br><br>
    {% endif %}

    {% if copy_list %}
        Your copies:
        <ul>
            {% for bc, q in counted_copy_list.items %}
            <li> {{ bc.name }}{% if q > 1 %} (&times;{{ q }}){% endif %}
            {% endfor %}
        </ul>
    {% else %}
        You don't own any copy of this book.
    {% endif %}
    </div>
</section>

{% if perms.books.change_book %}
    <section class="section">
        <a href="{% url 'books:book_update' object.pk %}" class="button">Edit book</a>
    </section>
{% endif %}

{% endblock %}
