{% extends 'base.html' %}

{% block content %}
<section class="section">
    <h1 class="title">Welcome to Llibres!</h1>
    <h2 class="subtitle">Home library manager</h2>
    <div class="notification is-warning">
        I don't know how you got here, but this website is still under development. Features are constantly being added and modified. Use it at your own risk.
    </div>
    <a class="button is-large" href="{% url 'login' %}">Log in</a>
    <a class="button is-large is-primary" href="{% url 'accounts:signup' %}">Sign up</a>
</section>
{% endblock %}
