{% extends 'base.html' %}

{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
    <h1 class="title">Your libraries</h1>
    </div>
</section>

<section class="section">
    <ul>
    {% if libraries_list %}
        {% for lib in libraries_list %}
        <li class='box'><a href="{% url 'books:library_detail' lib.id %}">{{ lib.name }}</a></li>
        {% endfor %}
    {% endif %}
    </ul>
</section>
<section class="section">
    <form action='' method='post'>
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                {{ form.name }}
            </div>
            <div class="control">
                <input type="submit" class="button" value="Add library">
            </div>
        </div>
    </form>
</section>
{% endblock %}
