{% extends 'base.html' %}

{% load books_tags %}

{% block title %}Library {{object.name }} - Llibres{% endblock %}

{% block extra_scripts %}
{% load static %}
<script src="{% static 'books/js/quagga.min.js' %}"></script>
<script src="{% static 'books/js/utils.js' %}"></script>
<script src="{% static 'books/js/scan_barcode.js' %}"></script>
{% endblock %}

{% block content %}

<section class="hero is-primary">
    <div class="hero-body">
        <h1 class="title">{{ object.name }}</h1>
        <h2 class="subtitle">Library</h2>
    </div>
</section>

<section class="container is-fluid pt-6">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <article class="message is-success"><div class="message-body">{{ message }}</div></article>
    {% elif message.tags == 'error' %}
    <article class="message is-danger"><div class="message-body">{{ message }}</div></article>
    {% else %}
    <article class="message is-info"><div class="message-body">{{ message }}</div></article>
    {% endif %}
    {% endfor %}
    {% endif %}

    <div class="columns">
        <div class="column">
            <div class="columns">
                <form class="column" action="{% url 'books:library_detail' object.pk %}" method="get">
                    <!-- {% include 'books/keep_get_tags.html' with updated='q' %} -->
                    <div class="field has-addons" style="flex: 1;">
                        <input class="control" type="text" style="width: 100%;" name="q" value="{{ request.GET.q }}">
                        <button class="control button" type="submit">
                            <span class="icon is-small">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </form>
                <form class="column is-narrow" action="{% url 'books:library_detail' object.pk %}" method='get'>
                    {% include 'books/keep_get_tags.html' with updated='ordering' %}
                    <div class="select">
                        <select name="ordering" onchange="this.form.submit()" value="author">
                            <option value="" selected disabled hidden>Sort by...</option>
                            <option {% if request.GET.ordering == "title" %} selected {% endif %} value="title">Title</option>
                            <option {% if request.GET.ordering == "author" %} selected {% endif %} value="author">Author</option>
                            <option {% if request.GET.ordering == "shelf" %} selected {% endif %} value="shelf">Shelf</option>
                            <option {% if request.GET.ordering == "isbn" %} selected {% endif %} value="isbn">ISBN</option>
                            <option {% if request.GET.ordering == "addeddate" %} selected {% endif %} value="addeddate">Earliest added date</option>
                            <option {% if request.GET.ordering == "-addeddate" %} selected {% endif %} value="-addeddate">Latest added date</option>
                        </select>
                    </div>
                </form>
            </div>

            <section class="section">
                {% for b in page_obj %}
                <ul class="media">
                    <div class="media-left">
                        {% if b.book.thumbnail %}
                        <img src="{{ b.book.thumbnail }}" style="max-width: 45px; max-height: 64px;">
                        {% else %}
                        <img src="{% static 'books/img/unknown_book.svg' %}" style="max-width: 45px; max-height: 64px;">
                        {% endif %}
                    </div>
                    <div class="media-content">
                        <a class="has-text-dark has-text-weight-bold" href="{% url 'books:book_detail' b.book.pk %}"> {{ b.book.title }}</a>
                        <div>
                            {{ b.book.authors|first }}
                            {% for au in b.book.authors|slice:"1:" %}
                            &amp; {{ au }}
                            {% endfor %}
                            &bull; {{ b.location.name }}
                        </div>
                    </div>
                    <div class="media-right level is-mobile">
                        <form action="{% url 'books:copy_move' b.pk %}" id="move-form-{{ b.pk }}"  method='post'>
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="destination">
                            <div class="level-item dropdown is-hoverable is-right">
                                <div class="dropdown-trigger">
                                    <a><span class="icon"><i class="fas fa-angle-double-right"></i></button></a>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu-dest" role="menu">
                                    <div class="dropdown-content">
                                        {% for sh in shelf_list %}
                                        <a onclick="f=document.getElementById('move-form-{{ b.pk }}'); f.elements['destination'].value = {{ sh.pk }}; f.submit();" class="dropdown-item">{{ sh.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form action="{% url 'books:copy_delete' b.pk %}" id="delete-form-{{ b.pk }}" method='post'>
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <a class="level-item" onclick="document.getElementById('delete-form-{{ b.pk }}').submit();return false;"><span class="icon"><i class="fas fa-trash-alt"></i></button></a>
                        </form>
                    </div>
                </ul>
                {% empty %}
                <article class="message is-info"><div class="message-body">No books found</div></article>
                {% endfor %}<br>
                {% if page_obj.has_previous or page_obj.has_next %}
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    <ul class="pagination-list">
                        {% if page_obj.has_previous %}
                        {% if page_obj.previous_page_number != 1 %}
                        <li>
                            <a class="pagination-link" aria-label"Goto page 1" href="{% url_replace page=1 %}">1</a>
                        </li>
                        <li>
                            <span class="pagination-ellipsis">&hellip;</span>
                        </li>
                        {% endif %}
                        <li>
                            <a class="pagination-link" aria-label"Goto previous page" href="{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                        </li>
                        {% endif %}
                        <li>
                            <a class="pagination-link is-current" aria-label"Page {{ page_obj.number }}" href="#">{{ page_obj.number }}</a>
                        </li>
                        {% if page_obj.has_next %}
                        <li>
                            <a class="pagination-link" aria-label"Goto next page" href="{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                        </li>
                        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
                        <li>
                            <span class="pagination-ellipsis">&hellip;</span>
                        </li>
                        <li>
                            <a class="pagination-link" aria-label"Goto page {{ page_obj.paginator.num_pages }}" href="{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                        </li>
                        {% endif %}
                        {% endif %}
                    </ul>
                    </nav>
                    {% endif %}
            </section>
        </div>
        <div class="column is-one-quarter">
            <nav class="panel">
                <p class="panel-heading">New book</p>
                <div class="panel-block">
                    <div>
                        <form action="{% url 'books:book_add' object.pk %}" method='post'>
                            {% csrf_token %}
                            {% include 'books/keep_get_tags.html' with updated='' %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <div class="field">
                                <div class="control">
                                    {{ form_book.isbn }}
                                </div>
                            </div>
                            <div class="field has-addons">
                                <div class="control select">
                                    {{ form_book.location }}
                                </div>
                                <div class="control">
                                    <button class="button" type="submit">Add</button>
                                </div>
                            </div>
                        </form><br>
                        <div class="file has-name">
                            <label class="file-label">
                                <input class="file-input" type="file" id="input-file" accept="image/*" capture>
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-camera"></i>
                                    </span>
                                    <span class="file-label">
                                        Scan barcode
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- <button class="button" type="button" onclick="toggleVisibility('edit-shelves')">Edit shelves</button> -->

            <nav class="panel" id="edit-shelves">
                <p class="panel-heading">Shelves</p>
                <div class="panel-block">
                    <div>
                        <form action="{% url 'books:shelf_add' object.pk %}" method='post'>
                            {% csrf_token %}
                            {% include 'books/keep_get_tags.html' with updated='' %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <div class="field has-addons">
                                <div class="control">
                                    {{ form_shelf.name }}
                                </div>
                                <div class="control">
                                    <button class="button" type="submit">Add</button>
                                </div>
                            </div>
                        </form>
                        <br>
                        <ul>
                            {% for s in shelf_list %}
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <div class="level-item">
                                        {% if s.pk|stringformat:"i" == request.GET.shelf %}
                                        <strong>{{ s.name }}</strong>
                                        {% else %}
                                        {{ s.name }}
                                        {% endif %}
                                    </div>
                                    <div class="level-item">
                                        <form action="{% url 'books:shelf_delete' s.pk %}?next={{ request.get_full_path }}" method='get' id='delete-form-shelf-{{ s.pk }}'>
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            <a onclick="document.getElementById('delete-form-shelf-{{ s.pk }}').submit();return false;"><span class="icon"><i class="fas fa-trash-alt"></i></button></a>
                                        </form>
                                        <a onclick="toggleVisibility('shelf-rename-{{ s.pk }}')"><span class="icon"><i class="fas fa-edit"></i></button></a>
                                        <form action="{% url 'books:shelf_rename' s.pk %}" method='post' id="shelf-rename-{{ s.pk }}" style="display: none;">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            <nav class="level is-mobile">
                                                <div class="level-left">
                                                    <div class="level-item">
                                                        <input class="level-item input" type="text" name="name" maxlength="20">
                                                    </div>
                                                    <div class="level-item">
                                                        <input class="button" type="submit" onclick="toggleVisibility('shelf-rename-{{ s.pk }}')" value="OK">
                                                    </div>
                                                </div>
                                            </nav>
                                        </form>
                                        <form action="{% url 'books:library_detail' object.pk %}" method='get' id="shelf-filter-{{ s.pk }}">
                                            {% include 'books/keep_get_tags.html' with updated='shelf' %}
                                            <input type="hidden" name="shelf" value="{{ s.pk }}">
                                            <a onclick="document.getElementById('shelf-filter-{{ s.pk }}').submit();return false;"><span class="icon"><i class="fas fa-filter"></i></button></a>
                                        </form>
                                    </div>
                                </div>
                            </nav>
                            {% endfor %}
                            <form action="{% url 'books:library_detail' object.pk %}" method='get'>
                                {% include 'books/keep_get_tags.html' with updated='shelf' %}
                                <input type="hidden" name="shelf" value="">
                                <input class="button" type="submit" value="Remove filters">
                            </form>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>

{% endblock %}
