{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <section class="section">
        <p class="content"> Shelf <strong>{{ object.name }}</strong> is not empty. Are you sure you want to delete it? </p><br>
    <input class="button is-danger" type="submit" value="Confirm">
    <button class="button" onclick="window.history.back();" type="button">Cancel</button>
    </section>
</form>
{% endblock %}
